.topnav1{
    top: 0px;
    left: 0px;
    width: 1560px;
    height: 80px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}
.topnav{
    display:flex;
}

.topnav1 .topnav .img1{
    
width: 18px;
height: 12px;
margin-top: 34px;
margin-left:29px;
margin-bottom: 34px;
/* UI Properties */
/*background: #000000 0% 0% no-repeat padding-box;*/
opacity: 1;

}
.topnav1 .topnav .img2{
   
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
width: 142px;
height: 30px;
/* UI Properties */
opacity: 1;

}

.img3{
/* top: 32px; */
/* left: 291px; */
margin-top: 31.67px;
margin-left: 76.67px;
margin-bottom: 32.64px;
width: 16px;
height: 16px;
/* UI Properties */
/*background: #000000 0% 0% no-repeat padding-box;*/
opacity: 1;

}

.topnav1 .topnav .search{
    margin-top: 28.47px;
    margin-left: 14.74px;
    margin-bottom: 30.53px;
width: 49px;
height: 21px;
/* UI Properties */
text-align: left;
font: normal normal normal 16px/21px Roboto;
letter-spacing: 0px;
color: #000000;
opacity: 1;

}

.topnav1 .topnav .img4{
    /* Layout Properties */
    margin-top: 28.28px;
    margin-left: 924.2px;
    margin-bottom: 30.65px;
width: 22px;
height: 21px;
/* UI Properties */
/*background: #3E3E3E 0% 0% no-repeat padding-box;*/
opacity: 1;

}

.topnav1 .topnav .img5{
    margin-top: 18px;
margin-left: 52.28px;
margin-bottom: 18px;
    top: 18px;
left: 1368px;
width: 44px;
height: 44px;
/* UI Properties */
background: transparent url('img/Ellipse 19.png') 0% 0% no-repeat padding-box;
opacity: 1;

}

.topnav1 .topnav .pname{
    margin-top: 27.97px;
margin-left: 12px;
margin-bottom: 31.07px;
width: 68px;
height: 21px;
/* UI Properties */
text-align: left;
font: normal normal normal 16px/21px Roboto;
letter-spacing: 0px;
color: #000000;
opacity: 1;

}

.topnav1 .topnav .img6{
    margin-top: 37.5px;
    margin-left: 14.54px;
    margin-bottom: 36.66px;
    width: 10px;
    height: 6px;
    /* UI Properties */
    /*background: #000000 0% 0% no-repeat padding-box;*/
    opacity: 1;
    
}
