body{
    margin: 0px;
    padding: 0px;
}
.topnav1{
    top: 0px;
    left: 0px;
    width: 1560px;
    height: 80px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}
.topnav{
    display:flex;
}

.topnav1 .topnav .img1{
    
width: 18px;
height: 12px;
margin-top: 34px;
margin-left:29px;
margin-bottom: 34px;
/* UI Properties */
/*background: #000000 0% 0% no-repeat padding-box;*/
opacity: 1;

}

.topnav1 .topnav .img2{
   
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
width: 142px;
height: 30px;
/* UI Properties */
opacity: 1;

}

.img3{
    /* top: 32px; */
    /* left: 291px; */
    margin-top: 31.67px;
    margin-left: 76.67px;
    margin-bottom: 32.64px;
    width: 16px;
    height: 16px;
    /* UI Properties */
    /*background: #000000 0% 0% no-repeat padding-box;*/
    opacity: 1;
    
    }

    .topnav1 .topnav .search{
        margin-top: 28.47px;
        margin-left: 14.74px;
        margin-bottom: 30.53px;
    width: 49px;
    height: 21px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    
    }

    .topnav1 .topnav .img4{
        /* Layout Properties */
        margin-top: 28.28px;
        margin-left: 924.2px;
        margin-bottom: 30.65px;
    width: 22px;
    height: 21px;
    /* UI Properties */
    /*background: #3E3E3E 0% 0% no-repeat padding-box;*/
    
    opacity: 1;
    
    }


    .topnav1 .topnav .img5{
        margin-top: 18px;
    margin-left: 52.28px;
    margin-bottom: 18px;
        top: 18px;
    left: 1368px;
    width: 44px;
    height: 44px;
    /* UI Properties */
    background: transparent url('img/Ellipse 19.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    
    }
    .topnav1 .topnav .pname{
        margin-top: 27.97px;
    margin-left: 12px;
    margin-bottom: 31.07px;
    width: 68px;
    height: 21px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    
    }
    .topnav1 .topnav .img6{
        margin-top: 37.5px;
        margin-left: 14.54px;
        margin-bottom: 36.66px;
        width: 10px;
        height: 6px;
        /* UI Properties */
        /*background: #000000 0% 0% no-repeat padding-box;*/
        opacity: 1;
        
    }

.sidebar{
float: left;
margin-top: 0px;
padding: 0px;
margin-bottom: 25px;
width: 242px;
height: 1890px;
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 1;
}
.sidecontainer{
    width: 242px;
    height: 3000px;
}


.navbar{
    margin-left: 0px;
    margin-top: 0px;
    width: 1560px;
    height: 80px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}
.dashboard{
    margin-top: 25px;
    
     margin-left: 30px;
     margin-bottom: 5.97px;
     padding: 0px 0px 0px 0px;
   width: 183px;
   height: 43px;
   /* UI Properties */
   
   border-radius: 5px;
   opacity: 1;
   }
   .dashboard{
       display: flex;
       
   }
   .img7{
       margin-top: 14px;
   margin-left: 17.5px;
   width: 15px;
   height: 15px;
   /* UI Properties */
   float: left;
   opacity: 1;
   }
   
   .dashboard1{
       
       margin-left: 12.2px;
       margin-top: 9.97px;
       width: 78px;
   height: 21px;
   /* UI Properties */
   text-align: left;
   
   letter-spacing: 0px;
   color: #3E3E3E;
   opacity: 1;
   }
   .main{
       display: flex;
   }
   .sidebar{
       float: left;
       margin-top: 0px;
   }
   
   
   
   .analysis{
       /*margin-top: 22.75px;*/
       margin-left: 45.62px;
       display: flex;
   }
   
   .sidebar .img8{
       float: left;
       width: 19px;
       height: 18px;
       /* UI Properties */
       padding: 14px;
       opacity: 1;  
   }
   
   .sidebar .analysis1{
       
       margin-left: 10.67px;
   width: 60px;
   height: 21px;
   /* UI Properties */
   text-align: left;
   font: normal normal normal 16px/21px Roboto;
   letter-spacing: 0px;
   color: #3E3E3E;
   opacity: 1;
   list-style: none;
   }
   
   .inbox{
    margin-top: 5px;
       display: flex;
      
       padding: 0px;
   }
   
   .img9{
   float: left;
   margin-left: 47.65px;
   margin-top: 20px;
   width: 15px;
   height: 15px;
   /* UI Properties */
   opacity: 1;
   }
   .inbox1{
       margin-left: 12.68px;
      /* margin-top: 32px;*/
       width: 39px;
       height: 21px;
       /* UI Properties */
       text-align: left;
       font: normal normal normal 16px/21px Roboto;
       letter-spacing: 0px;
       color: #3E3E3E;
       opacity: 1;
   }
   .history{
       margin: 0px;
       padding: 0px;
       display: flex;
   }
   
   .img10{
   float: left;
   margin-top: 16px;
   margin-left: 47px;
   width: 16px;
   height: 16px;
   /* UI Properties */
   opacity: 1;
   }
   
   .history1{
       margin-left: 12px;
       margin-top: 16px;
       width: 51px;
       height: 21px;
       /* UI Properties */
       text-align: left;
       font: normal normal normal 16px/21px Roboto;
       letter-spacing: 0px;
       color: #3E3E3E;
       opacity: 1;
   }
   
   .User, .Maintenance , .setting{
       margin: 0px;
       padding: 0px;
       display: flex;
   }
   .img11, .img12, .img13{
   float: left;
   margin-top: 18px;
   margin-left: 32px;
   width: 47px;
   height: 16px;
   /* UI Properties */
   opacity: 1;
       
   }
   .user1, .maintenance1 , .setting1{
       margin-left: px;
       margin-top: 16px; 
       width: 51px;
       height: 21px;
       /* UI Properties */
       text-align: left;
       font: normal normal normal 16px/21px Roboto;
       letter-spacing: 0px;
       color: #3E3E3E;
       opacity: 1; 
   
   }
   .main{
    background-color : #FAFAFA;
   /* width: max-content;*/
   }

    .h11{
        margin-top:35.75px;
        margin-left: 43px;
    width: 146px;
    height: 39px;
    /* UI Properties */
    /*text-align: left;*/
    font-size: 35px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    font-style: roboto;
    }


.container2{
margin-top: 22.25px;
margin-left: 45px;
width: 1200px;
height: 1749px;
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 5px;
opacity: 1;

}
.container3{
    padding-top: 0.23px;
}
.h21 , .h22{
    padding-left: 22.52px;
    margin-top: 29px;
    /*width: 121px;*/
height: 29px;
/* UI Properties */
text-align: left;
font-size: 22px;
font: normal normal medium 22px/29px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
}

.item1 {
width: 1157px;
height: 49px;
/* UI Properties */
border: 1px solid #ADADAD;
border-radius: 5px;
opacity: 1;
padding: 5px 10px;
margin-left: 30.5px;
margin-bottom: 21px;
}

.dropdown{
    margin-left: 30.5px;
    width: 1157px;
height: 49px;
/* UI Properties */
border: 1px solid #ADADAD;
border-radius: 5px;
opacity: 1;
padding: 5px 5px;
}

.item3{
    width: 1157px;
height: 130px;
/* UI Properties */
border: 1px solid #ADADAD;
border-radius: 5px;
opacity: 1;
margin-left: 30.5px;
margin-top: 20px;
padding: 10px 10px;
}

.item4 , .item6{
margin-top: 12px;
margin-left: 30.5px;
width: 563px;
height: 49px;
/* UI Properties */
border: 1px solid #ADADAD;
border-radius: 5px;
opacity: 1;
padding: 10px;
}

.item5{
   position: absolute;
    margin-top: 12px;
    margin-left: 100px;
    width: 563px;
    height: 49px;
    /* UI Properties */
    border: 1px solid #ADADAD;
    border-radius: 5px;
    opacity: 1;
    padding: 10px;
    /*outline: none;*/
   /* z-index: 0;*/
    /*transition: background .5s;*/
   
    
    }
.p1{
   /* position: absolute;*/
    
    transform: translate(30px , -10px);
   /* display: inline-block;*/
    width: 34px;
    margin-top: 12.98px;
    margin-left: 100px;
    background-color: #FFFFFF;
   /* z-index: 1;
    position: relative;*/
    
    
width: 563px;
height: 29px;
/* UI Properties */
/*text-align: left;*/
font-size: 12px;
letter-spacing: 0px;
color: #ADADAD;
opacity: 1;
}
.forms{
    display: grid;
    grid-template-columns: 518px 518px;
}
.item7{
    padding: 10px;
    width: 564px;
    margin-top: 12px;
    margin-left: 100px;
height: 47px;
/* UI Properties */
border: 1px solid #ADADAD;
border-radius: 5px;
opacity: 1;
}

.h23{
   
/* UI Properties */
text-align: left;
font-size: 22px;

letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
padding-left: 22.52px;
margin-top: 29px;
font-size: 22px;
}
.item8{
    padding: 10px;
margin-left: 30.5px;
width: 364px;
height: 47px;
/* UI Properties */
border: 1px solid #C8242F;
border-radius: 5px;
opacity: 1;
}
.item9 , .item10{
    margin-left: 20.5px;
    width: 364px;
    height: 47px;
    /* UI Properties */
    padding: 10px;
    border-radius: 5px;
    opacity: 1;
    border: 1px solid #ADADAD;
    }
.item11{
    padding: 10px;
    margin-left: 30.5px;
width: 266px;
height: 47px;
/* UI Properties */
border: 1px solid #FF3C3C;
border-radius: 5px;
opacity: 1;
}
.item12 , .item13 {
    padding: 10px;
 width: 266px;
height: 47px;
margin-left: 20.5px;
/* UI Properties */
border: 1px solid #ADADAD;
border-radius: 5px;
opacity: 1;
}

.item14{
    width: 266px;
height: 47px;
margin-left: 20.5px;
/* UI Properties */
border: 1px solid #ADADAD;
border-radius: 5px;
opacity: 1;
}

.span11{
    margin-left: 30.5px;
width: 84px;
height: 16px;
/* UI Properties */
text-align: left;
font: normal normal normal 12px/16px Roboto;
letter-spacing: 0px;
color: #FF3B3B;
opacity: 1;

}
.span12{
margin-left: 220px;
width: 158px;
height: 16px;
/* UI Properties */
text-align: left;
font: normal normal normal 12px/16px Roboto;
letter-spacing: 0px;
color: #ADADAD;
opacity: 1;
}


.h24{
    margin-top: 43.42px;
    margin-left: 30.5px;
    width: 225px;
height: 29px;
/* UI Properties */
text-align: left;
font: normal normal medium 22px/29px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
font-size: 22px;
}

.h25{
    margin-top: 21.25px;
    margin-left: 30.5px;
    /*width: 90px;*/
height: 24px;
/* UI Properties */
text-align: left;
font-size: 18px;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
}
.h27{
    margin-top: 36.15px;
    margin-left: 30.5px;
    /*width: 90px;*/
height: 24px;
/* UI Properties */
text-align: left;
font-size: 18px;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
}
.button{
    display: flex;
}
.button1{
    margin-left: 30.5px;
    padding-top: 5px;
    text-align: center;
    width: 124px;
    height: 36px;

/* UI Properties */
border: 1px solid #C8242F;
background-color: #FFFFFF;
color: #C8242F;
border-radius: 18px;
opacity: 1;
}            

 .img1{
  margin-right: 5px;
 }
 .h26{
    margin-left: 19.7px;
    width: 200px;
height: 16px;
/* UI Properties */

font-size: 16px roboto;
letter-spacing: 0px;
color: #ADADAD;
opacity: 1;
 }

 .radio1{
    margin-left: 30.42px;
    margin-top: 12.77;
 }
 .radio2{
    margin-left: 26.5px;
    width: 10px;
    margin-top: 0px;
height: 10px;
/* UI Properties */
background-color: #C8242F 0% 0% no-repeat padding-box;
opacity: 1;
    
 }

 .option2{
    margin-left: 5px;
 }
 .radio3{
    margin-top: 7px;
    position: absolute;
    margin-left: 25.42px;
    width: 13px;
    height: 13px;
    /* UI Properties */
        color: #FFFFFF 0% 0% no-repeat padding-box;
        border-color: #C8242F;
        opacity: 1;
 }

 .formcheck{
    display: flex;
 }

 .form-check{
    margin-left: 25.42px;
    margin-top: 14.77;
  
 }
 .error{
    width: 563px;
height: 44px;
/* UI Properties */
border: 1px solid #FF3535;
border-radius: 5px;
opacity: 1;
display: flex;
margin-left: 28.5px;

 }
.snacbar{
    display: grid;
    grid-template-columns: 518px 518px;
}
 .error1{
    margin-top: 10px;
    margin-left: 15px;
    height: 23px;
    width: 23px;
 }
 .message{
    margin-top: 9px;
    margin-left: 5px;
    color: #FF3535;
 }
 .info{
    margin-left: 100.5px;

    width: 563px;
height: 44px;
/* UI Properties */
border: 1px solid #00B9E1;
border-radius: 5px;
opacity: 1;
display: flex;
 }
 .info1{
    margin-top: 10px;
    margin-left: 15px;
    height: 23px;
    width: 23px;
 }
 .message2{
    margin-top: 9px;
    margin-left: 5px;
    color: #00B9E1;
 }
 .warning{
    margin-left: 28.5px;
margin-top: 15.85px;
    width: 563px;
height: 44px;
/* UI Properties */
border: 1px solid #FFA800;
border-radius: 5px;
opacity: 1;
display: flex;
 }
 .warning1{
    margin-top: 10px;
    margin-left: 15px;
    height: 23px;
    width: 23px;
 }
 .message3{
    margin-top: 9px;
    margin-left: 5px;
    color: #FFA800;}
    
.success{
    margin-left: 100.5px;
margin-top: 15.85px;
        width: 563px;
    height: 44px;
    /* UI Properties */
    border: 1px solid #00AF27;
    border-radius: 5px;
    opacity: 1;
    display: flex;
     }
    
 .success1{
    margin-top: 10px;
    margin-left: 15px;
    height: 23px;
    width: 23px;
 }
 .message4{
    margin-top: 9px;
    margin-left: 5px;
    color: #00AF27
 }

 .h28
 {
    margin-left: 29px;
    margin-top: 35.5px;
    width: 76px;
height: 24px;
/* UI Properties */
text-align: left;
font-size: 18px;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
 }

 .h29{
    margin-left: 29px;
    margin-top: 35.5px;
width: 106px;
height: 24px;
/* UI Properties */
text-align: left;
font-size: 18px;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
 }

 .primary{
    display: flex;
 }

 .primary1{
    margin-left: 30px;
    text-align: center;
    width: 124px;
    padding-top: 10px;
height: 45px;
background: #C8242F 0% 0% no-repeat padding-box;
border-radius: 23px;
opacity: 1;
 }

 .secondary1{
    margin-left: 20.5px;
   text-align: center;
   padding-top: 10px;
    width: 145px;
height: 44px;
/* UI Properties */
border: 1px solid #C8242F;
border-radius: 22px;
opacity: 1;
 }

.tabs{
    display: flex;
}
.tab1{
    margin-left: 45px;
    text-align: left;
font: normal normal medium 15px/20px Roboto;
letter-spacing: 0px;
color: #C8242F;
opacity: 1;
}

.tab2 , .tab3{
    margin-left: 36px;
    text-align: left;
font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #ADADAD;
opacity: 1;
}

.hr2{
    width: 75px;
    margin-left: 25px;
    margin-right: 45px;
    border: 1px solid #C8242F;
    height: 2px;
    background-color: #C8242F;
    border-radius: 5px;
    position: relative;
   
}

.hr1{
   
    margin-left: 25px;
    border: 1px solid #ADADAD;
    
    width: 1155px;
    position: absolute;
    background-color: #ADADAD;
   
}

.lorem{
    margin-left: 25px;
    text-align: left;
    font-size: 15px;

letter-spacing: 0px;
color: #3E3E3E;
opacity: 1; 
}

.analysis2{
    padding-top: 12px;
    text-decoration: none;
    color: #C8242F;
}

.analysis{
    background: #FFF3F4 0% 0% no-repeat padding-box;
    width: 183px;
height: 43px;
margin-left: 30px;
}