.maindiv{
/* top : 0px;
left: 0px; */
width: 1560px;
height: 720px;
/* UI Properties */
background: #FAFAFA 0% 0% no-repeat padding-box;
/* opacity: 1; */
}


.image1{
top: 72px;
left: 166px;
margin-bottom: 72px;

width: 576px;
height: 576px;
/* UI Properties */
background: transparent url('../images/hero-image.png') 0% 0% no-repeat padding-box;
box-shadow: 0px 4px 31px #0000000A;
border: 20px solid #FFFFFF;
opacity: 1;
border-radius: 50%;
float:left;
position: relative;

}
.container{
    position:absolute;
    top:106px;
    left: 906px;
    float: right;
}
.img2{

width: 272px;
height: 58px;
/* UI Properties */
opacity: 1;



}
.tagline{
margin-top:19.17px; 

width: 500px;
height: 100px;
/* UI Properties */
text-align: left;
font: normal normal 300 40px/47px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
}

span{
    
width: 137px;
height: 53px;
/* UI Properties */
text-align: left;
font: normal normal 900 40px/53px Roboto;
letter-spacing: 0px;
color: #C8242F;
opacity: 1;
}

.loginpara{
   
width: 260px;
height: 33px;
/* UI Properties */
text-align: left;
font: normal normal normal 25px/33px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
margin-bottom: 23.45px;
margin-top: 31.87px;
}
/*.form{
    float: none;
}*/

input[type=text] , input[type=password]
/*{
    
    width: 100%;
    margin :12px 0;
    height: 49px;
    /* UI Properties */
    /*background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    opacity: 1;
    padding: 12px 20px;
    box-sizing: border-box;
    
}*/

.username{
    padding-top: 14.63px; 
    padding-bottom:14.37px;
    padding-left:14.5px;
    

width: 429px;
height: 20px;
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #ADADAD;
border-radius: 5px;
opacity: 1;
margin-bottom: 27px;
}
.password{
    
    padding-top: 14.63px; 
    padding-bottom:14.37px;
    padding-left:14.5px;
   
width: 429px;
height: 20px;
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #ADADAD;
border-radius: 5px;
opacity: 1;
margin-bottom: 30.5px;
}
.oneline{

display: flex;

}
.button1{
float:left;
width: 138px;
height: 45px;
/* UI Properties */
background: #C8242F 0% 0% no-repeat padding-box;
border-radius: 23px;
border-color:  #C8242F;

color:white;
padding-top: 9.65px;
padding-bottom: 11.35px;
padding-left:46.5;
 position :relative;
}
.forgotpassword{
    text-align: right;
    position: relative;
    display: flex;
width: 121px;
height: 20px;
/* UI Properties */
font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
margin-left: 170.44px;
opacity: 1;
float:right;

}

.oneline .forgotpassword a{
    text-decoration: none;
    color: #ADADAD;
}
.member1{
    display: flex;
}
.member{
top: 595px;
left: 906px;
width: 160px;
height: 20px;
/* UI Properties */

font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #ADADAD;
opacity: 1;
margin-top: 23.13px;
flex: left;
}

.member1 a{
top: 595px;
left: 1070px;
width: 88px;
height: 20px;
/* UI Properties */
font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #C8242F;
opacity: 1;
text-decoration: none;
flex: right;
margin-top: 23.13px;
}


@media  screen and (max-width:1023px) {
    .image1{
    width: 300px;
    height: 300px;
    left: 25px;
    top: 65px;
    background: transparent url('../images/hero-image.png') 30% 0% no-repeat padding-box;
    border: 10px solid #FFFFFF;
    
    }
    .maindiv {
        width: 90%;
        background-color: #FAFAFA 0% 0% no-repeat padding-box;
    }
    .container{
        /* display: noleft: 500px;
        */
     left: 500px;
    }
    
}
@media  screen and (max-width:767px) {
    .image1{
    width: 280px;
    height: 300px;
   right: 30px;
    left: 30px;
   top: 50px;
   background: transparent url('../images/hero-image.png') 30% 0% no-repeat padding-box;
   border: 10px solid #FFFFFF;
    }
     
    .maindiv {
        width: 90%;
         background-color: #FAFAFA 0% 0% no-repeat padding-box;
    }

    
}
@media  screen and (max-width:479px) {
    .image1{
    width: 280px;
    height: 280px;
    background: transparent url('../images/hero-image.png') 30% 0% no-repeat padding-box;
    border: 10px solid #FFFFFF;
    left: 4vh;
    top: 20px;
    
    float: none;


    }
    /*body{
        width: 100vw;
        overflow: hidden;
    }*/

    .maindiv {
        /*width: 90%;*/
        width: 474px;
        background-color: #FAFAFA;
    }

    .loginpara{
        float: none;
        display: grid;
    }
    .username{
        float: none;
        display: grid;
        
    }
    /*input.username{
        width: 380px;
        height: 10px;
    }
    .password{
        width: 380px;
        height: 10px;
    }

    .container{
        position: relative;
        left: 30px;
        float: left;
        top: 30px;
    }
    .img2{
        width: 200px;
        height: 88px;
    }
   .tagline{
    margin-top: 0px;
    font-size: 25px;
    width: 440px;
   }
   span{
    font-size: 25px;
   }
   */
   input.username{
    width: 290px;
    height: 7px;
}
.password{
    width: 290px;
    height: 7px;
}

.container{
    
    position: relative;
    left: 30px;
    float: left;
    top: 10px;
}
.img2{
    width: 200px;
    height: 88px;
}
.tagline{
margin-top: 0px;
font-size: 25px;
width: 300px;
text-align: justify;
}
span{
font-size: 25px;
margin-bottom: 12.5px;
}
.forgotpassword{
    margin-left: 90px;
}
.loginpara{
    margin-top: 10px;
    font-size: 20px;
}
.button1{
    width: 100px;
    height: 37px;
}
.member , .member1{
    margin-top: 15px;
}
}
@media  screen and (max-width:360px) {
    .image1{
    width: 280px;
    height: 280px;
    right: 40px;
    background: transparent url('../images/hero-image.png') 30% 0% no-repeat padding-box;
    border: 10px solid #FFFFFF;
    top: 30px;
    }
    .maindiv {
        width: 90%;
        background-color: #FAFAFA;
    }

   
}